:root {
    --basic-bg: #f0f0f0;
    --basic-black: #000000;
}

* {
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--basic-bg);
}

.wrap {
    max-width: 2560px;
    margin: 0 auto;
    padding: 0;
}

.black__square__container {
    width: 1000px;
    height: 700px;
    background-color: var(--basic-black);
}
